.Footer-wrapper {
  width: 90%;
  max-width: 960px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

.Socials {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Copyright {
  text-align: right;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
}

svg {
  fill: rgba(255, 255, 255, 0.6);
  transition: fill 1s ease;
}

svg:hover {
  fill: white;
}

@media all and (max-width: 700px) {
  .Footer-wrapper {
    align-items: center;
    margin: 50px auto 50px auto;
    position: relative;
  }
}
