main {
  margin-top: 0;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.Responsive-footer {
  display: none;
}

@media all and (max-width: 700px) {
  .Responsive-footer {
    order: 3;
    display: block;
    width: 100%;
  }

  main {
    flex-wrap: wrap;
  }

  .Responsive-nav {
    display: none !important;
    background-color: chocolate;
  }
}
