.App-header {
  background-color: rgba(49, 49, 49, 0.8);
  width: 100%;
  height: 170px;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
}

.Header-contents {
  display: flex;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.Logo {
  width: 150px;
}

main {
  display: flex;
  width: 90%;
  margin-top: 0;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* navigation column styles */

.Title-nav {
  display: none;
}

nav {
  flex: 0 0 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

.Project {
  min-height: 150px;
  min-width: 150px;
  border-radius: 10px;
  padding: 10px;
  color: black;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-end;
}

.Category {
  margin: 0;
  font-weight: 400;
}

.Title-project {
  margin: 0;
  font-weight: 800;
}

.Project-1 {
  background-size: cover;
  background-image: linear-gradient(#ffbaa5, #ffbaa5),
    url(./moticon_3d_shoe.png);
  background-blend-mode: multiply;
}

.Project-2 {
  background-size: cover;
  background-image: linear-gradient(#ffd49b, #ffd49b),
    url(./moticon_3d_shoe.png);
  background-blend-mode: multiply;
  background-color: #ffd49b;
}

.Project-3 {
  grid-column: 1 / 2;
  background-color: #eaefb3;
}
.Project-4 {
  grid-column: 2 / 3;
  background-color: #8fe4ed;
}
.Project-5 {
  grid-column: 1/3;
  background-color: #daa8dc;
}
.Project-6 {
  background-color: #a6d795;
}
.Project-7 {
  background-color: #8bc8c4;
}

/* Article column styles */

article {
  position: fixed;
  margin-right: 10%;
  margin-left: 390px;
  width: auto;
}

.Mugshot {
  border-radius: 100%;
  width: 150px;
}

.Greeting {
  font-size: 3em;
  font-weight: 600;
}

.Description {
  font-size: 1.2em;
  font-weight: 400;
}

/* footer column styles */

footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-left: 390px;
  margin-right: auto;
}

.Footer-wrapper {
  width: 90%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Socials {
  float: right;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Copyright {
  text-align: right;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
}

svg {
  fill: rgba(255, 255, 255, 0.6);
}

svg:hover {
  fill: white;
}

/* Responsive smartphone styles */

@media all and (max-width: 600px) {
  .App-header {
    height: 120px;
    z-index: 2;
  }
  .Header-contents {
    justify-content: center;
  }
  .Logo {
    width: 130px;
  }

  main {
    flex-direction: column;
  }

  .Mugshot {
    width: 100px;
  }

  .Greeting {
    font-size: 2em;
  }

  .Description {
    font-size: 1em;
  }
  article {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }

  .Title-nav {
    display: block;
    font-size: 1.3em;
  }

  footer {
    position: relative;
    margin-left: auto;
    margin-top: 50px;
  }

  .Footer-wrapper {
    align-items: center;
  }
}
