main {
  margin-top: 0;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.Responsive-footer {
  display: none;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}

@media all and (max-width: 700px) {
  .Responsive-footer {
    order: 3;
    display: block;
    width: 100%;
  }

  main {
    flex-wrap: wrap;
  }

  .Responsive-nav {
    display: none !important;
  }
}
