main {
  margin-top: 0;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.Responsive-footer {
  display: none;
}

.Responsive-navigation {
  display: none;
}

@media all and (max-width: 700px) {
  .Responsive-footer {
    order: 3;
    display: block;
    width: 100%;
  }
}
